/* -------------------------------- 

Primary style

-------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Josefin+Sans';
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter';

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
  font-size: 100%;
  font-family: "微软雅黑", sans-serif;
  color: #dbe2e9;
  background: #424f5c;
}

a {
  color: #89ba2c;
  text-decoration: none;
}

/* -------------------------------- 

Main components 

-------------------------------- */
html, body {
  height: 100%;
  background:url(http://www.dujin.org/sys/bing/1920.php)
}

.cd-main-content {
  text-align: center;
  background: rgba(0,0,0,0.5);
  height: 100%;


}
.cd-main-content h2 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
  padding: 50px 0;
  font-family: 'Architects Daughter', cursive;


  -webkit-animation-duration: 2s;
      -webkit-animation-delay: 1s;
      -webkit-animation-timing-function: ease;
      -webkit-animation-fill-mode: both;

      -moz-animation-duration: 2s;
      -moz-animation-delay: 1s;
      -moz-animation-timing-function: ease;
      -moz-animation-fill-mode: both;

      -ms-animation-duration: 2s;
      -ms-animation-delay: 1s;
      -ms-animation-timing-function: ease;
      -ms-animation-fill-mode: both;

      animation-duration: 2s;
      animation-delay: 1s;
      animation-timing-function: ease;
      animation-fill-mode: both;
  }
.cd-main-content h1 {
  font-size: 20px;
  font-size: 1.25rem;
  color: #fff;
 
  padding-top: 1.5em;

  font-family: 'Josefin Sans', sans-serif;



  

      -webkit-animation-duration: 2s;
      -webkit-animation-delay: 1s;
      -webkit-animation-timing-function: ease;
      -webkit-animation-fill-mode: both;

      -moz-animation-duration: 2s;
      -moz-animation-delay: 1s;
      -moz-animation-timing-function: ease;
      -moz-animation-fill-mode: both;

      -ms-animation-duration: 2s;
      -ms-animation-delay: 1s;
      -ms-animation-timing-function: ease;
      -ms-animation-fill-mode: both;

      animation-duration: 2s;
      animation-delay: 1s;
      animation-timing-function: ease;
      animation-fill-mode: both;
}

.cd-main-content .btns{
  width: 70%;
  /*background: rgba(255,255,255,0.3);*/
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  
  box-shadow: 1px 1px 50px 1px #8B8989;
  
  


}

.cd-main-content .cd-btn {
  position: relative;
  display: inline-block;
  padding: 1em 2em;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  margin: 2em  2em;

}
.btns a i{
  font-size: 30px;
  color: #fff;
  padding-right: 5px;
}
/*.btns a:hover{
  color: #6495ED;
}*/
.no-touch .cd-main-content .cd-btn:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
  background-color: rgba(0,0,0,0.4);
  color: #6495ED;
}

.share{
  width: 320px;
  margin: 0 auto;
  margin-top:30px;
  position: relative;



}
.share i {
  margin-right: 30px;
  font-size: 40px;
  transition: transform 0.5s;
}
.share a {
  color: #fff;

}
.share a:hover{
    color: #6495ED;
}
.share>i:hover{
  color: #6495ED;
  transform: rotate(360deg);
}




@media only screen and (min-width: 1170px) {
  .cd-main-content h1 {
    font-size: 60px;
    /*font-size: 2rem;*/
  }
}

.cd-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
  

}
.cd-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.cd-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  -moz-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.cd-panel.is-visible .cd-panel-close::before {
  -webkit-animation: cd-close-1 0.6s 0.3s;
  -moz-animation: cd-close-1 0.6s 0.3s;
  animation: cd-close-1 0.6s 0.3s;
}
.cd-panel.is-visible .cd-panel-close::after {
  -webkit-animation: cd-close-2 0.6s 0.3s;
  -moz-animation: cd-close-2 0.6s 0.3s;
  animation: cd-close-2 0.6s 0.3s;
}

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.cd-panel-header {
  position: fixed;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.cd-panel-header h1 {
  font-weight: bold;
  color: #89ba2c;
  padding-left: 5%;
}
.from-right .cd-panel-header, .from-left .cd-panel-header {
  top: -50px;
}
.from-right .cd-panel-header {
  right: 0;
}
.from-left .cd-panel-header {
  left: 0;
}
.is-visible .cd-panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-header {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-header {
    width: 70%;
  }
}

.cd-panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-panel-close::before, .cd-panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-panel-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cd-panel-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .cd-panel-close:hover {
  background-color: #424f5c;
}
.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .cd-panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .cd-panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.cd-panel-container {
  position: fixed;
  width: 90%;
  height: 100%;
  top: 0;
  background: #dbe2e9;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .cd-panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .cd-panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .cd-panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .cd-panel-container {
    width: 70%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-panel-container {
    width: 70%;
  }
}

.cd-panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.cd-panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #424f5c;
  line-height: 1.4;
  margin: 2em 0;
}
.cd-panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .cd-panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
}




@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


#weinxin{
  position: relative;
}
.tag{ width:150px; height:150px; border:2px solid #eee; position:absolute; background-color:transparent;
border-radius: 10px; top :50px; left: 35px; display: none;
}

.arrow{ position:absolute; width:20px; height:20px; top:-20px; left:65px; }

.arrow *{ display:block; border-width:10px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0; }

.arrow em{border-color: transparent transparent #eee;}

.arrow span{border-color: transparent transparent transparent; top:3px;} 
.tag img {
  height: 120px;
  width: 120px;
  margin: 15px auto;
  padding:0px;
  
}

body{
  
  overflow:hidden; /*解决ie开场动画出现闪动的滚动条)*/
}



/* search的样式 */
.search_bar{position: relative;margin-top: 10px; 
width: 0%;min-width: 60px;height: 60px; 
float: right;overflow: hidden; 
-webkit-transition: width 0.3s; 
-moz-transition: width 0.3s; 
transition: width 0.3s; 
-webkit-backface-visibility: hidden; 
/*background:#162934; */
z-index: 10;

} 

.input{ 
position: absolute;top: 0;right: 0; 
border: none;outline: none; 
width: 98%;height: 59px; line-height:58px;z-index: 90; 
font-size: 20px;color: #f9f9f9;background:transparent ;
font-family: "微软雅黑", sans-serif;
border:1px solid #eee;
padding-left: 10px;


} 

.search_ico,.search_btn { 
width: 60px;height: 60px;display: block; 
position: absolute;right: 0;top: 0; 
padding: 0;margin: 0;line-height: 60px;cursor: pointer; 
} 

.search_ico{background:  url(../img/ddd.PNG) no-repeat ;
  background-color:#6495ED;
  background-size:40px 40px;z-index:900;
  background-position:center;} 
.search_open{width: 30% !important; z-index:1002;} 
#show{position:absolute; padding:20px;} 

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
.footer p{
  width: 200px;
  margin: 0 auto;
  text-align: center;

}